<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PersianDescription" value="هسته مرکزی سیستم ارتباط"/>
    <add key="sendTimerInterval" value="2000"/>
    <add key="activatorTimerInterval" value="20000"/>
    <add key="SendTimerPersianDescription" value="پروسه ارسال تلگرام"/>
    <add key="ActivatorTimerPersianDescription" value="پروسه فعال ساز"/>
    <add key="DestinationSeparator" value=","/>
    <add key="BodySeparator" value="$"/>
  </appSettings>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)"/>
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
    <add name="ConnectionString" connectionString="metadata=res://*/Model.IccModel.csdl|res://*/Model.IccModel.ssdl|res://*/Model.IccModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ElevenTEST;PASSWORD=icc;USER ID=ICC&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
