<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UiInterfacePersianDescription" value="واسط کاربر" />
    <add key="ProgramTitle" value="نرم افزار ارتباطی ایریسا" />
    <add key="RecordsLoadCount" value="10" />
    <add key="NotifyIconShowClientConnected" value="True" />
    <add key="NotifyIconPersianLanguage" value="False" />
    <add key="NotifyIconShowTime" value="2000" />
    <add key="NotifyIconTitle" value="Irisa Communication Center" />
    <add key="NotifyIconShowQueued" value="True" />
    <add key="NotifyIconShowDrop" value="True" />
    <add key="NotifyIconShowSent" value="True" />
    <add key="RecordsIncrementCount" value="20" />
  </appSettings>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
    <add name="ConnectionString" connectionString="metadata=res://*/Model.IccModel.csdl|res://*/Model.IccModel.ssdl|res://*/Model.IccModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ElevenTEST;PASSWORD=icc;USER ID=ICC&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
