<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IRISA.CommunicationCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
    <add name="WebServiceEntities" connectionString="metadata=res://*/Model.WebServiceModel.csdl|res://*/Model.WebServiceModel.ssdl|res://*/Model.WebServiceModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;PASSWORD=icc;PERSIST SECURITY INFO=True;USER ID=icc;DATA SOURCE=ElevenTest&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <IRISA.CommunicationCenter.Properties.Settings>
      <setting name="WebServicePassword" serializeAs="String">
        <value>IRISA2009</value>
      </setting>
      <setting name="ClientName" serializeAs="String">
        <value>PCS</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>yyyy/MM/dd HH:mm:ss</value>
      </setting>
      <setting name="HeaderAndBodySeparator" serializeAs="String">
        <value>#</value>
      </setting>
      <setting name="HeaderSeparator" serializeAs="String">
        <value>$</value>
      </setting>
      <setting name="PersianDescription" serializeAs="String">
        <value>Automation</value>
      </setting>
      <setting name="ThrowExceptionToCaller" serializeAs="String">
        <value>True</value>
      </setting>
    </IRISA.CommunicationCenter.Properties.Settings>
  </applicationSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2001" />
  </appSettings>
</configuration>